@inherits LayoutComponentBase
@using Blazored.Toast.Services
@inject IToastService ToastService

<PageTitle>EMPLOYEE MANAGEMENT SERVICE</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-0" style="background-color: #007BFF;">
            <!-- Your top row content can go here -->
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<!-- Toast notifications should be available globally -->


<!-- Authorization for protected content -->
<AuthorizeView>
    <Authorized>
        <!-- The authorized content will be displayed here -->
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
